<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> node.js <a href="https://github.com/mohanraj-nagasamy/nodejs-helloworld">Source</a> </h1>
    <p><%= title %></p>
  </body>
</html>